.main {
  display: flex;
  flex-direction: column;
}

.mainWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main__image {
  display: flex;
  flex: 1 1 200px;
  height: 200px;
  margin: 10px;
  width: 80%;
  justify-content: center;
}
