.image {
  height: auto;
  width: auto;
  z-index: 10;
}

.image-responsive-width {
  width: 100%;
}

.image-responsive-height {
  height: 100%;
}

.image-fitted {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  @for $i from 1 through 5 {
    &-rounded-#{$i * 10} {
      border-radius: calc(10% * #{$i});
    }
  }
}
